/dashboard_shiny_demo/*
/dashboard_shiny_demo
/data/Subjects/*
/data/*
/dashboard/study_management/client_secrets.json
/dashboard/subject_status.json
/dash/data/*
/data/subject_status.json
.Rhistory
__pycache__
debug.log
cfg.json
conda-env
.Rproj.user
.DS_Store
.Rdata
*.Rproj
*.Rdata
/site/data/*
/site/content/*subjects
/site/static/*
/site/public/*
redcap.json